@model IEnumerable<PizzaDelivery.Models.OrderItem>

@{
    ViewBag.Title = "SingleIndex";
}

<h2>SingleIndex</h2>

<p>
    @Html.ActionLink("Add item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FutureDeliveryTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FutureDeliveryTime)
            </td>

            <td>
                @Html.ActionLink("Remove", "Delete", new { id = item.Id })
            </td>
            @*<td>
                    @Html.TextBoxFor(modelItem => item.FutureDeliveryTime)
                    <input type="submit" value="Generate report" />
                </td>*@
        </tr>

    }


</table>



@*@using (Html.BeginForm("FormTwo", "OrderItems", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Select(f => f.FutureDeliveryTime));
        @Html.ValidationMessageFor(model => model.Select(f => f.FutureDeliveryTime))
        <input type="submit" value="sub" />
    }*@

<h2>Enter your desired delivery time:</h2>
@using (Html.BeginForm("UpdateDeliveryTime", "OrderItems"))
{

    <input id="Text1" type="text" name="txtOne" />
    <input id="Button1" type="submit" value="Submit" />
}





@using (Html.BeginForm())
{
    <p>
        <h2>Apply Coupon Code:</h2> @Html.TextBox("SearchString")
        <input type="submit" value="Apply" />
    </p>
}

<h2>Your total:</h2>
<h1>$@ViewBag.TotalAmount</h1>


<br />

@Html.ActionLink("Checkout", "Purchase")