@model IEnumerable<PizzaDelivery.Models.OrderItem>

@{
    ViewBag.Title = "SingleIndex";
}

<h2>SingleIndex</h2>

<p>
    @Html.ActionLink("Add item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FutureDeliveryTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
               
            </td>
            <td>
                @Html.ActionLink("Remove", "Delete", new { id = item.Id })
            </td>
        </tr>


    }

</table>




Collapse 


<h2>Your total:</h2>
<h1>$@ViewBag.TotalAmount</h1>

@using (Html.BeginForm())
{
    <p>
        Apply Coupon Code: @Html.TextBox("SearchString")
        <input type="submit" value="Apply" />
    </p>
}


@*@using (Html.BeginForm())
    {
        <p>
            Enter Delivery Time: @Html.TextBox("FutureDelivery")
            <input type="submit" value="Apply" />
        </p>
    }*@


<br />

@Html.ActionLink("Checkout", "Purchase")